<div class="flight-preview">
    <div class="flex space-between align-center">
        <div>
            <p class="title">{{flight.origin}}</p>
            <p>{{flight.departure | date: 'short'}}</p>
        </div>
        <div class="duration">
            <p>{{(flight.landing - flight.departure) | duration}}</p>
                <p>----------------------- <i class="fas fa-plane"></i></p>
                <p *ngIf="flight.connections.length else nonStop">{{flight.connections.length-1}} stop(s)</p>
                <ng-template #nonStop>Non-stop</ng-template>
        </div>
            <div>
                <p class="title">{{flight.destination}}</p>
                <p>{{flight.landing | date: 'short'}}</p>
            </div>
        <div class="price">{{flight.price | currency:'USD'}}</div>
    </div>
</div>